:root {
  --grassLight1: #fbfefb;
  --grassLight2: #f3fcf3;
  --grassLight3: #ebf9eb;
  --grassLight4: #dff3df;
  --grassLight5: #ceebcf;
  --grassLight6: #b7dfba;
  --grassLight7: #97cf9c;
  --grassLight8: #65ba75;
  --grassLight9: #46a758;
  --grassLight10: #3d9a50;
  --grassLight11: #297c3b;
  --grassLight12: #1b311e;

  --grassLightA1: #05c00504;
  --grassLightA2: #05c0050c;
  --grassLightA3: #02b30214;
  --grassLightA4: #01a00120;
  --grassLightA5: #01970631;
  --grassLightA6: #018e0c48;
  --grassLightA7: #008a0c68;
  --grassLightA8: #008d1a9a;
  --grassLightA9: #008619b9;
  --grassLightA10: #007a19c2;
  --grassLightA11: #006316d6;
  --grassLightA12: #001904e4;

  --grassDark1: #0d1912;
  --grassDark2: #0f1e13;
  --grassDark3: #132819;
  --grassDark4: #16301d;
  --grassDark5: #193921;
  --grassDark6: #1d4427;
  --grassDark7: #245530;
  --grassDark8: #2f6e3b;
  --grassDark9: #46a758;
  --grassDark10: #55b467;
  --grassDark11: #63c174;
  --grassDark12: #e5fbeb;

  --grassDarkA1: #00000000;
  --grassDarkA2: #68fc3f06;
  --grassDarkA3: #68fc7b11;
  --grassDarkA4: #67ff801a;
  --grassDarkA5: #63fe7d24;
  --grassDarkA6: #63ff8230;
  --grassDarkA7: #65ff8443;
  --grassDarkA8: #69ff825e;
  --grassDarkA9: #69ff829e;
  --grassDarkA10: #78ff91ac;
  --grassDarkA11: #83ff97ba;
  --grassDarkA12: #eafff0fa;

  --oliveLight1: #fcfdfc;
  --oliveLight2: #f8faf8;
  --oliveLight3: #f2f4f2;
  --oliveLight4: #ecefec;
  --oliveLight5: #e6e9e6;
  --oliveLight6: #e0e4e0;
  --oliveLight7: #d8dcd8;
  --oliveLight8: #c3c8c2;
  --oliveLight9: #8b918a;
  --oliveLight10: #818780;
  --oliveLight11: #6b716a;
  --oliveLight12: #141e12;

  --oliveLightA1: #05580503;
  --oliveLightA2: #054d0507;
  --oliveLightA3: #0027000d;
  --oliveLightA4: #022a0213;
  --oliveLightA5: #02210219;
  --oliveLightA6: #0122011f;
  --oliveLightA7: #001a0027;
  --oliveLightA8: #051a013d;
  --oliveLightA9: #020f0075;
  --oliveLightA10: #030e007f;
  --oliveLightA11: #020c0095;
  --oliveLightA12: #020d00ed;

  --oliveDark1: #151715;
  --oliveDark2: #1a1d19;
  --oliveDark3: #20241f;
  --oliveDark4: #262925;
  --oliveDark5: #2b2f2a;
  --oliveDark6: #313530;
  --oliveDark7: #3b3f3a;
  --oliveDark8: #4c514b;
  --oliveDark9: #687366;
  --oliveDark10: #778175;
  --oliveDark11: #9aa299;
  --oliveDark12: #eceeec;

  --oliveDarkA1: #00000000;
  --oliveDarkA2: #d5feaf07;
  --oliveDarkA3: #d6fbc40f;
  --oliveDarkA4: #effee214;
  --oliveDarkA5: #e9fedf1b;
  --oliveDarkA6: #ecfee521;
  --oliveDarkA7: #f1feeb2c;
  --oliveDarkA8: #f1ffed40;
  --oliveDarkA9: #e6ffe165;
  --oliveDarkA10: #ebffe775;
  --oliveDarkA11: #f3fff199;
  --oliveDarkA12: #fdfffdec;

  --errorLight: #cd2b31;
  --errorDark: #ff6369;
}

@media (prefers-color-scheme: light) {
  :root,
  .theme-regular,
  .theme-regular * {
    --grass1: var(--grassLight1);
    --grass2: var(--grassLight2);
    --grass3: var(--grassLight3);
    --grass4: var(--grassLight4);
    --grass5: var(--grassLight5);
    --grass6: var(--grassLight6);
    --grass7: var(--grassLight7);
    --grass8: var(--grassLight8);
    --grass9: var(--grassLight9);
    --grass10: var(--grassLight10);
    --grass11: var(--grassLight11);
    --grass12: var(--grassLight12);

    --grassA1: var(--grassLightA1);
    --grassA2: var(--grassLightA2);
    --grassA3: var(--grassLightA3);
    --grassA4: var(--grassLightA4);
    --grassA5: var(--grassLightA5);
    --grassA6: var(--grassLightA6);
    --grassA7: var(--grassLightA7);
    --grassA8: var(--grassLightA8);
    --grassA9: var(--grassLightA9);
    --grassA10: var(--grassLightA10);
    --grassA11: var(--grassLightA11);
    --grassA12: var(--grassLightA12);

    --olive1: var(--oliveLight1);
    --olive2: var(--oliveLight2);
    --olive3: var(--oliveLight3);
    --olive4: var(--oliveLight4);
    --olive5: var(--oliveLight5);
    --olive6: var(--oliveLight6);
    --olive7: var(--oliveLight7);
    --olive8: var(--oliveLight8);
    --olive9: var(--oliveLight9);
    --olive10: var(--oliveLight10);
    --olive11: var(--oliveLight11);
    --olive12: var(--oliveLight12);

    --oliveA1: var(--oliveLightA1);
    --oliveA2: var(--oliveLightA2);
    --oliveA3: var(--oliveLightA3);
    --oliveA4: var(--oliveLightA4);
    --oliveA5: var(--oliveLightA5);
    --oliveA6: var(--oliveLightA6);
    --oliveA7: var(--oliveLightA7);
    --oliveA8: var(--oliveLightA8);
    --oliveA9: var(--oliveLightA9);
    --oliveA10: var(--oliveLightA10);
    --oliveA11: var(--oliveLightA11);
    --oliveA12: var(--oliveLightA12);

    --error: var(--errorLight);
  }

  .theme-invert,
  .theme-invert * {
    --grass1: var(--grassDark1);
    --grass2: var(--grassDark2);
    --grass3: var(--grassDark3);
    --grass4: var(--grassDark4);
    --grass5: var(--grassDark5);
    --grass6: var(--grassDark6);
    --grass7: var(--grassDark7);
    --grass8: var(--grassDark8);
    --grass9: var(--grassDark9);
    --grass10: var(--grassDark10);
    --grass11: var(--grassDark11);
    --grass12: var(--grassDark12);

    --grassA1: var(--grassDarkA1);
    --grassA2: var(--grassDarkA2);
    --grassA3: var(--grassDarkA3);
    --grassA4: var(--grassDarkA4);
    --grassA5: var(--grassDarkA5);
    --grassA6: var(--grassDarkA6);
    --grassA7: var(--grassDarkA7);
    --grassA8: var(--grassDarkA8);
    --grassA9: var(--grassDarkA9);
    --grassA10: var(--grassDarkA10);
    --grassA11: var(--grassDarkA11);
    --grassA12: var(--grassDarkA12);

    --olive1: var(--oliveDark1);
    --olive2: var(--oliveDark2);
    --olive3: var(--oliveDark3);
    --olive4: var(--oliveDark4);
    --olive5: var(--oliveDark5);
    --olive6: var(--oliveDark6);
    --olive7: var(--oliveDark7);
    --olive8: var(--oliveDark8);
    --olive9: var(--oliveDark9);
    --olive10: var(--oliveDark10);
    --olive11: var(--oliveDark11);
    --olive12: var(--oliveDark12);

    --oliveA1: var(--oliveDarkA1);
    --oliveA2: var(--oliveDarkA2);
    --oliveA3: var(--oliveDarkA3);
    --oliveA4: var(--oliveDarkA4);
    --oliveA5: var(--oliveDarkA5);
    --oliveA6: var(--oliveDarkA6);
    --oliveA7: var(--oliveDarkA7);
    --oliveA8: var(--oliveDarkA8);
    --oliveA9: var(--oliveDarkA9);
    --oliveA10: var(--oliveDarkA10);
    --oliveA11: var(--oliveDarkA11);
    --oliveA12: var(--oliveDarkA12);

    --error: var(--errorDark);
  }
}

@media (prefers-color-scheme: dark) {
  :root,
  .theme-regular,
  .theme-regular * {
    --grass1: var(--grassDark1);
    --grass2: var(--grassDark2);
    --grass3: var(--grassDark3);
    --grass4: var(--grassDark4);
    --grass5: var(--grassDark5);
    --grass6: var(--grassDark6);
    --grass7: var(--grassDark7);
    --grass8: var(--grassDark8);
    --grass9: var(--grassDark9);
    --grass10: var(--grassDark10);
    --grass11: var(--grassDark11);
    --grass12: var(--grassDark12);

    --grassA1: var(--grassDarkA1);
    --grassA2: var(--grassDarkA2);
    --grassA3: var(--grassDarkA3);
    --grassA4: var(--grassDarkA4);
    --grassA5: var(--grassDarkA5);
    --grassA6: var(--grassDarkA6);
    --grassA7: var(--grassDarkA7);
    --grassA8: var(--grassDarkA8);
    --grassA9: var(--grassDarkA9);
    --grassA10: var(--grassDarkA10);
    --grassA11: var(--grassDarkA11);
    --grassA12: var(--grassDarkA12);

    --olive1: var(--oliveDark1);
    --olive2: var(--oliveDark2);
    --olive3: var(--oliveDark3);
    --olive4: var(--oliveDark4);
    --olive5: var(--oliveDark5);
    --olive6: var(--oliveDark6);
    --olive7: var(--oliveDark7);
    --olive8: var(--oliveDark8);
    --olive9: var(--oliveDark9);
    --olive10: var(--oliveDark10);
    --olive11: var(--oliveDark11);
    --olive12: var(--oliveDark12);

    --oliveA1: var(--oliveDarkA1);
    --oliveA2: var(--oliveDarkA2);
    --oliveA3: var(--oliveDarkA3);
    --oliveA4: var(--oliveDarkA4);
    --oliveA5: var(--oliveDarkA5);
    --oliveA6: var(--oliveDarkA6);
    --oliveA7: var(--oliveDarkA7);
    --oliveA8: var(--oliveDarkA8);
    --oliveA9: var(--oliveDarkA9);
    --oliveA10: var(--oliveDarkA10);
    --oliveA11: var(--oliveDarkA11);
    --oliveA12: var(--oliveDarkA12);

    --error: var(--errorDark);
  }

  .theme-invert,
  .theme-invert * {
    --grass1: var(--grassLight1);
    --grass2: var(--grassLight2);
    --grass3: var(--grassLight3);
    --grass4: var(--grassLight4);
    --grass5: var(--grassLight5);
    --grass6: var(--grassLight6);
    --grass7: var(--grassLight7);
    --grass8: var(--grassLight8);
    --grass9: var(--grassLight9);
    --grass10: var(--grassLight10);
    --grass11: var(--grassLight11);
    --grass12: var(--grassLight12);

    --grassA1: var(--grassLightA1);
    --grassA2: var(--grassLightA2);
    --grassA3: var(--grassLightA3);
    --grassA4: var(--grassLightA4);
    --grassA5: var(--grassLightA5);
    --grassA6: var(--grassLightA6);
    --grassA7: var(--grassLightA7);
    --grassA8: var(--grassLightA8);
    --grassA9: var(--grassLightA9);
    --grassA10: var(--grassLightA10);
    --grassA11: var(--grassLightA11);
    --grassA12: var(--grassLightA12);

    --olive1: var(--oliveLight1);
    --olive2: var(--oliveLight2);
    --olive3: var(--oliveLight3);
    --olive4: var(--oliveLight4);
    --olive5: var(--oliveLight5);
    --olive6: var(--oliveLight6);
    --olive7: var(--oliveLight7);
    --olive8: var(--oliveLight8);
    --olive9: var(--oliveLight9);
    --olive10: var(--oliveLight10);
    --olive11: var(--oliveLight11);
    --olive12: var(--oliveLight12);

    --oliveA1: var(--oliveLightA1);
    --oliveA2: var(--oliveLightA2);
    --oliveA3: var(--oliveLightA3);
    --oliveA4: var(--oliveLightA4);
    --oliveA5: var(--oliveLightA5);
    --oliveA6: var(--oliveLightA6);
    --oliveA7: var(--oliveLightA7);
    --oliveA8: var(--oliveLightA8);
    --oliveA9: var(--oliveLightA9);
    --oliveA10: var(--oliveLightA10);
    --oliveA11: var(--oliveLightA11);
    --oliveA12: var(--oliveLightA12);

    --error: var(--errorLight);
  }
}
