:root {
  --grass-light-1: #fbfefb;
  --grass-light-2: #f3fcf3;
  --grass-light-3: #ebf9eb;
  --grass-light-4: #dff3df;
  --grass-light-5: #ceebcf;
  --grass-light-6: #b7dfba;
  --grass-light-7: #97cf9c;
  --grass-light-8: #65ba75;
  --grass-light-9: #46a758;
  --grass-light-10: #3d9a50;
  --grass-light-11: #297c3b;
  --grass-light-12: #1b311e;

  --grass-light-a-1: #05c00504;
  --grass-light-a-2: #05c0050c;
  --grass-light-a-3: #02b30214;
  --grass-light-a-4: #01a00120;
  --grass-light-a-5: #01970631;
  --grass-light-a-6: #018e0c48;
  --grass-light-a-7: #008a0c68;
  --grass-light-a-8: #008d1a9a;
  --grass-light-a-9: #008619b9;
  --grass-light-a-10: #007a19c2;
  --grass-light-a-11: #006316d6;
  --grass-light-a-12: #001904e4;

  --grass-dark-1: #0d1912;
  --grass-dark-2: #0f1e13;
  --grass-dark-3: #132819;
  --grass-dark-4: #16301d;
  --grass-dark-5: #193921;
  --grass-dark-6: #1d4427;
  --grass-dark-7: #245530;
  --grass-dark-8: #2f6e3b;
  --grass-dark-9: #46a758;
  --grass-dark-10: #55b467;
  --grass-dark-11: #63c174;
  --grass-dark-12: #e5fbeb;

  --grass-dark-a-1: #00000000;
  --grass-dark-a-2: #68fc3f06;
  --grass-dark-a-3: #68fc7b11;
  --grass-dark-a-4: #67ff801a;
  --grass-dark-a-5: #63fe7d24;
  --grass-dark-a-6: #63ff8230;
  --grass-dark-a-7: #65ff8443;
  --grass-dark-a-8: #69ff825e;
  --grass-dark-a-9: #69ff829e;
  --grass-dark-a-10: #78ff91ac;
  --grass-dark-a-11: #83ff97ba;
  --grass-dark-a-12: #eafff0fa;

  --olive-light-1: #fcfdfc;
  --olive-light-2: #f8faf8;
  --olive-light-3: #f2f4f2;
  --olive-light-4: #ecefec;
  --olive-light-5: #e6e9e6;
  --olive-light-6: #e0e4e0;
  --olive-light-7: #d8dcd8;
  --olive-light-8: #c3c8c2;
  --olive-light-9: #8b918a;
  --olive-light-10: #818780;
  --olive-light-11: #6b716a;
  --olive-light-12: #141e12;

  --olive-light-a-1: #05580503;
  --olive-light-a-2: #054d0507;
  --olive-light-a-3: #0027000d;
  --olive-light-a-4: #022a0213;
  --olive-light-a-5: #02210219;
  --olive-light-a-6: #0122011f;
  --olive-light-a-7: #001a0027;
  --olive-light-a-8: #051a013d;
  --olive-light-a-9: #020f0075;
  --olive-light-a-10: #030e007f;
  --olive-light-a-11: #020c0095;
  --olive-light-a-12: #020d00ed;

  --olive-dark-1: #151715;
  --olive-dark-2: #1a1d19;
  --olive-dark-3: #20241f;
  --olive-dark-4: #262925;
  --olive-dark-5: #2b2f2a;
  --olive-dark-6: #313530;
  --olive-dark-7: #3b3f3a;
  --olive-dark-8: #4c514b;
  --olive-dark-9: #687366;
  --olive-dark-10: #778175;
  --olive-dark-11: #9aa299;
  --olive-dark-12: #eceeec;

  --olive-dark-a-1: #00000000;
  --olive-dark-a-2: #d5feaf07;
  --olive-dark-a-3: #d6fbc40f;
  --olive-dark-a-4: #effee214;
  --olive-dark-a-5: #e9fedf1b;
  --olive-dark-a-6: #ecfee521;
  --olive-dark-a-7: #f1feeb2c;
  --olive-dark-a-8: #f1ffed40;
  --olive-dark-a-9: #e6ffe165;
  --olive-dark-a-10: #ebffe775;
  --olive-dark-a-11: #f3fff199;
  --olive-dark-a-12: #fdfffdec;

  --error-light: #cd2b31;
  --error-dark: #ff6369;
}

@media (prefers-color-scheme: light) {
  :root {
    --grass-1: var(--grass-light-1);
    --grass-2: var(--grass-light-2);
    --grass-3: var(--grass-light-3);
    --grass-4: var(--grass-light-4);
    --grass-5: var(--grass-light-5);
    --grass-6: var(--grass-light-6);
    --grass-7: var(--grass-light-7);
    --grass-8: var(--grass-light-8);
    --grass-9: var(--grass-light-9);
    --grass-10: var(--grass-light-10);
    --grass-11: var(--grass-light-11);
    --grass-12: var(--grass-light-12);

    --grass-a-1: var(--grass-light-a-1);
    --grass-a-2: var(--grass-light-a-2);
    --grass-a-3: var(--grass-light-a-3);
    --grass-a-4: var(--grass-light-a-4);
    --grass-a-5: var(--grass-light-a-5);
    --grass-a-6: var(--grass-light-a-6);
    --grass-a-7: var(--grass-light-a-7);
    --grass-a-8: var(--grass-light-a-8);
    --grass-a-9: var(--grass-light-a-9);
    --grass-a-10: var(--grass-light-a-10);
    --grass-a-11: var(--grass-light-a-11);
    --grass-a-12: var(--grass-light-a-12);

    --olive-1: var(--olive-light-1);
    --olive-2: var(--olive-light-2);
    --olive-3: var(--olive-light-3);
    --olive-4: var(--olive-light-4);
    --olive-5: var(--olive-light-5);
    --olive-6: var(--olive-light-6);
    --olive-7: var(--olive-light-7);
    --olive-8: var(--olive-light-8);
    --olive-9: var(--olive-light-9);
    --olive-10: var(--olive-light-10);
    --olive-11: var(--olive-light-11);
    --olive-12: var(--olive-light-12);

    --olive-a-1: var(--olive-light-a-1);
    --olive-a-2: var(--olive-light-a-2);
    --olive-a-3: var(--olive-light-a-3);
    --olive-a-4: var(--olive-light-a-4);
    --olive-a-5: var(--olive-light-a-5);
    --olive-a-6: var(--olive-light-a-6);
    --olive-a-7: var(--olive-light-a-7);
    --olive-a-8: var(--olive-light-a-8);
    --olive-a-9: var(--olive-light-a-9);
    --olive-a-10: var(--olive-light-a-10);
    --olive-a-11: var(--olive-light-a-11);
    --olive-a-12: var(--olive-light-a-12);

    --error: var(--error-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --grass-1: var(--grass-dark-1);
    --grass-2: var(--grass-dark-2);
    --grass-3: var(--grass-dark-3);
    --grass-4: var(--grass-dark-4);
    --grass-5: var(--grass-dark-5);
    --grass-6: var(--grass-dark-6);
    --grass-7: var(--grass-dark-7);
    --grass-8: var(--grass-dark-8);
    --grass-9: var(--grass-dark-9);
    --grass-10: var(--grass-dark-10);
    --grass-11: var(--grass-dark-11);
    --grass-12: var(--grass-dark-12);

    --grass-a-1: var(--grass-dark-a-1);
    --grass-a-2: var(--grass-dark-a-2);
    --grass-a-3: var(--grass-dark-a-3);
    --grass-a-4: var(--grass-dark-a-4);
    --grass-a-5: var(--grass-dark-a-5);
    --grass-a-6: var(--grass-dark-a-6);
    --grass-a-7: var(--grass-dark-a-7);
    --grass-a-8: var(--grass-dark-a-8);
    --grass-a-9: var(--grass-dark-a-9);
    --grass-a-10: var(--grass-dark-a-10);
    --grass-a-11: var(--grass-dark-a-11);
    --grass-a-12: var(--grass-dark-a-12);

    --olive-1: var(--olive-dark-1);
    --olive-2: var(--olive-dark-2);
    --olive-3: var(--olive-dark-3);
    --olive-4: var(--olive-dark-4);
    --olive-5: var(--olive-dark-5);
    --olive-6: var(--olive-dark-6);
    --olive-7: var(--olive-dark-7);
    --olive-8: var(--olive-dark-8);
    --olive-9: var(--olive-dark-9);
    --olive-10: var(--olive-dark-10);
    --olive-11: var(--olive-dark-11);
    --olive-12: var(--olive-dark-12);

    --olive-a-1: var(--olive-dark-a-1);
    --olive-a-2: var(--olive-dark-a-2);
    --olive-a-3: var(--olive-dark-a-3);
    --olive-a-4: var(--olive-dark-a-4);
    --olive-a-5: var(--olive-dark-a-5);
    --olive-a-6: var(--olive-dark-a-6);
    --olive-a-7: var(--olive-dark-a-7);
    --olive-a-8: var(--olive-dark-a-8);
    --olive-a-9: var(--olive-dark-a-9);
    --olive-a-10: var(--olive-dark-a-10);
    --olive-a-11: var(--olive-dark-a-11);
    --olive-a-12: var(--olive-dark-a-12);

    --error: var(--error-dark);
  }
}
