@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: var(--olive1);
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label {
  color: var(--olive12);
}

* {
  outline: none;
}

input {
  background: transparent;
}

button {
  text-align: start;
}
