@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap");

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--olive-3);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--olive-1);
  }
}

body {
  color: var(--olive-12);
}

::selection {
  background: var(--grass-8);
}

* {
  outline: none;
}

p,
span {
  overflow-wrap: break-word;
  hyphens: auto;
}

input {
  background: transparent;
}

button {
  text-align: start;
}
